env:
  global:
    - secure: "fs9J6binA1FzPQ112PSFjF2HUXts8u1slqofzRLRU1dInoGopyIG7jwNOafrxuSl4Ae+RXNIqd3ySl8uq4RDBysIU4jhbN+i6WP5dce1OvoverkXGufrzGAuSPus7InJuZ9s1Tk/jGnAdgKaaoAO/fDE5/nHgifrhFlvuNLMBJU="
    - secure: "GFx1FlXzTeCSGP0zITb4eTHqo0WS0K3u1Vc7kyLzRBDAJsf/oCg9TXBeDkzyRGMu9T2dpUNJBdVHjTYcsugYQGbVfi1R6VD/8xnYXSriottPv+MxfnKnXCU/rLUFQ1Hp0gIpjGQoKzEM5DPKxEJjWS8tCo61spCk6DewfHABLzk="


language: nodejs
node_js:
  - "0.10"